<div class="list-group">
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/ports">Port</a>
    </div>
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/ships">Ships</a>
    </div>
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/piers">Piers</a>
    </div>
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/shipInPorts">Ship in Port</a>
    </div>
</div>