<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/home" class="nav-link active">Home</a></li>
            <li class="nav-item"><a routerLink="/ports" class="nav-link">Port</a></li>
            <li class="nav-item"><a routerLink="/ships" class="nav-link">Ship</a></li>
            <li class="nav-item"><a routerLink="/piers" class="nav-link">Pier</a></li>
            <li class="nav-item"><a routerLink="/shipInPire" class="nav-link">ShipInPort</a></li>
        </ul>
    </header>
</div>