/* You can add global styles to this file, and also import other style files */
.edit-modal {
    padding: 10px;

    .form-group {
        padding-top: 10px;
    }

    .modal-footer {
        margin-top: 10px;
        justify-content: space-evenly;
    }

    .alert {
        --bs-alert-padding-y: 5px;
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';